h1 {color: rgba(0, 0, 0, .1);}
h2 {color: rgba(0, 0, 0, .5);}
h3 {color: rgba(0, 0, 0, 1);}

h1 {color: green; background: white; opacity: .25;}
h1 {color: green; background: white; opacity: .5;}
h1 {color: green; background: white; opacity: 1;}

blockquote { 
    border: 4px dashed; 
    color: #508C19;
   }
   blockquote { 
    border: 4px dashed; 
    color: #508C19;
    background-color: #B4DBE6;
   }